.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &>.search-and-add-btn {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &>.courses-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &>.no-data {
      text-align: center;
    }

    &>.list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      app-course-list-item {
        height: 130px;
        display: block;
        & + app-course-list-item {
          margin-top: 50px;
        }
        .course {
          flex-grow: 1;
        }
      }
    }

    &>.more-btn-layout {
      margin-top: 10px;
      flex-shrink: 0;
      &>button {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}


