<app-page>
  <app-page-breadcrumb *ngFor="let b of (breadcrumbs ? breadcrumbs : [])" [item]="b"></app-page-breadcrumb>
  <div class="course-page">
    <div class="spinners" *ngIf="!(course$ | async) || process">
      <app-spinner *ngIf="!(course$ | async)" [subtext]="'Loading course...'"></app-spinner>
      <app-spinner *ngIf="process" [subtext]="'Saving...'"></app-spinner>
    </div>

    <form class="form" #form="ngForm" *ngIf="(course$ | async)" (ngSubmit)="saveChanges()">
      <div class="control-group">
        <label>Title</label>
        <div class="control">
          <input type="text" name="title" [value]="(course$ | async).title" (input)="updateStore($event.srcElement.value, 'title')" readonly>
        </div>
      </div>
      <div class="control-group">
        <label>Description</label>
        <div class="control">
          <textarea name="description" [value]="(course$ | async).description" (input)="updateStore($event.srcElement.value, 'description')" required></textarea>
        </div>
      </div>
      <div class="control-group">
        <label>Date</label>
        <div class="control">
          <input type="date" name="creationDate" [value]="(course$ | async).creationDate | date:'yyyy-MM-dd'" (input)="updateStore($event.srcElement.value, 'creationDate')" readonly>
        </div>
      </div>
      <div class="control-group">
        <label>Duration</label>
        <div class="control">
          <input type="number" name="durationMin" pattern="[^\D0]+" [value]="(course$ | async).durationMin" (input)="updateStore($event.srcElement.value, 'durationMin')" required>
          <span class="duration-formatteable">{{(course$ | async).durationMin | duration}}</span>
        </div>
      </div>
      <div class="buttons-group">
        <button type="submit" [disabled]="!form.form.valid">Save</button>
        <button type="button" (click)="goToList()">Cancel</button>
      </div>
    </form>
  </div>
</app-page>
