<header class="page-header">
  <div class="left">
    <app-logo></app-logo>
    <h1 class="logo-title">Microsoft Virtual Academy</h1>
  </div>
  <div class="right">
    <span class="user" *ngIf="authSrv.authenticated$ | async">{{ authSrv.userInfo$ | async }}</span>
    <button *ngIf="authSrv.authenticated$ | async" class="logout-btn" (click)="logout()">Log Off</button>
    <a *ngIf="!(authSrv.authenticated$ | async) && !isLoginPage" class="login-lnk" [routerLink]="loginUrl">Login</a>
  </div>
</header>
