:host {
  display: block;
}

.login-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  .login-form {
    position: relative;
    display: inline-block;
    top: 40%;
    left: 0%;
    right: 0;
    .form-table {
      .label {
        font-weight: bold;
        text-align: right;
      }
      .login-btn-cell {
        text-align: left;
      }
    }
  }
}
